body {
  padding-top: 20px;
  padding-bottom: 20px;

  align-content: center;
  min-height: 80vh;
}

#top-frame, #bottom-frame {
  background: black;
  position: fixed;
  left: 0; 
  right: 0;
  height: 20px;
}

#top-frame { top: 0; }
#bottom-frame { bottom: 0; }

br.responsive {
  display: none; 
}

@media (min-width: 400px) {
  br.responsive {
    display: inline;
  }
}
